In [1]:
import pandas as pd
import numpy as np

In [10]:
# Reading data
iris_data_set = pd.read_csv('iris.csv')
iris_data_set

,sepal length(cm),sepal width(cm),petal length(cm),petal width(cm),class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

In [56]:
#data preparation
iris_data = iris_data_set[['sepal length(cm)','sepal width(cm)','petal length(cm)','petal width(cm)']]
iris_target = iris_data_set[['class']]

In [57]:
print(iris_data)
iris_target

     sepal length(cm)  sepal width(cm)  petal length(cm)  petal width(cm)
0                 5.1              3.5               1.4              0.2
1                 4.9              3.0               1.4              0.2
2                 4.7              3.2               1.3              0.2
3                 4.6              3.1               1.5              0.2
4                 5.0              3.6               1.4              0.2
..                ...              ...               ...              ...
145               6.7              3.0               5.2              2.3
146               6.3              2.5               5.0              1.9
147               6.5              3.0               5.2              2.0
148               6.2              3.4               5.4              2.3
149               5.9              3.0               5.1              1.8

[150 rows x 4 columns]

              class
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 1 columns]

In [58]:
category_map = {"Iris-setosa":0,'Iris-virginica':2,'Iris-versicolor':1}
iris_target=iris_target['class'].replace(category_map) 
iris_target=iris_target.to_numpy()

In [59]:
#Model building
from  sklearn.model_selection import train_test_split
iris_train,iris_test,target_train,target_test =train_test_split(iris_data,iris_target,test_size=0.3,random_state=1)
from sklearn.neighbors import KNeighborsClassifier

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2], dtype=int64)

In [61]:
classify=KNeighborsClassifier(n_neighbors=3)
classify.fit(iris_train,target_train)
iris_predict = classify.predict(iris_test)

In [62]:
from sklearn import metrics

In [63]:
metrics.accuracy_score(target_test,iris_predict)

0.9777777777777777

In [64]:
def prediction(sample):
    iris_target_names = ['Setosa','Versicolor','Virginica']
    pred=classify.predict(sample)
    outcome=[iris_target_names[p] for p in pred]
    print('Predictions are :',outcome)

In [65]:
'''Model deployment'''
import  joblib
#joblib.dump(classify,'iris-classifier.joblib')

['iris-classifier.joblib']

In [66]:
classify=joblib.load('iris-classifier.joblib')

In [67]:
#Model testing
sample=[[5,5,3,2],[2,4,3,5]]
prediction(sample)

Predictions are : ['Versicolor', 'Virginica']

In [69]:
sample2=[[10,10,1,2],[2,6,3,5]]
prediction(sample2)

Predictions are : ['Setosa', 'Virginica']